@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ANIMATIONS */

/* DynamicTab  */
.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}
.tabs [id^="tab"]:checked+label {
    top: 0;
    padding-top: 17px;
    background: #71c7d3;

}

.tabs [id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}
/* end */