.card {
	height: 450px;
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	border: 1px solid black;
}

.card-title {
	margin: 0 auto;
	height: 20%;
	width: 90%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.card-body {
	margin: 0 auto;
	height: 60%;
	width: 90%;
}
.card-body img {
	height: 100%;
	width: 100%;
}
.botones-accion {
	margin: 0 auto;
	height: 20%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botones-accion button {
	height: 75%;
	width: 100px;
}
