@import url("https://fonts.googleapis.com/css?family=Lato");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    font-family: Lato;
    color: #1e1a30;
    background: #a9f1e2;
}

.project-name {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    color: #ffffff;
}

.project-subtitle {
    font-size: 13px;
    display: block;
    padding-left: 4px;
    color: #ffffff;

}

.tabs {
    list-style: none;
    position: relative;
    margin: 20px 0 0 10px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
}

.labels-li {
    float: left;
    display: block;
    flex-wrap: nowrap;
}

.tab-content {
    width: 150rem;
}

.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    background: #54b9e0;
    cursor: pointer;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
    color: #ffffff;
}

.tabs label:hover {
    background: #54b9e0;
    color: #ffffff;
}

.input-section {
    background: #54b8e000;
    max-width: 6rem;
}

.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    max-width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #ffffff;
    /* darken(#8e44ad, 15%) */
}

.tabs [id^="tab"]:checked+label {
    top: 0;
    padding-top: 17px;
    background: #71c7d3;

}

.tabs [id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}